body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align: center;
    justify-content: center;
    width: 500px;
    margin: auto;
    padding-top: 200px;
}
.menu{
    list-style: none;
    background-color: darkcyan;
    color: blanchedalmond;
    display: flex;
    text-align: center;
    justify-content: center;
}
.menu a{
    color: blanchedalmond;
    padding: 20px;
    text-align: center;
    display: block;
    justify-content: center;

}
form{
    display: flex;
}
input[type='text']{
    border: 3px solid darkcyan;
    padding: 10px;
    border-radius: 3px;
    flex: 1;
}
button{
    padding: 10px;
    border: 2px solid darkcyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
      max-width: 800px;      /* ширина приложения */
  margin: 0 auto;         /* центрирование */
  padding: 20px;          /* внутренние отступы */
  background-color: #ffffff; /* фон (можно убрать) */
  border-radius: 10px;    /* закруглённые края */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2)
}
